<footer id="footer" class="bg-medium text-center " class="footer mt-auto py-3 bg-dark" class="mt-auto" style="position:absolute; bottom:0; width:100%; height:30px; line-height: 30px;">
<div style="background-color: rgba(186, 120, 224, 0.2) ">
<small> DESIGNED AND CREATED BY AMANDA FRISK</small>
</div>
</footer>

<!-- Bootstrap-popper for dropdowns, popovers, & tooltips -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

<!-- Bootstrap-JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>
