<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Page</title>
</head>
<body id="edit-body">

    <nav>
        <a href="/habits/">
            <img id="new-bk-btn"src="https://i.imgur.com/CCKy7v9.png" alt="back to habits list arrow">
        </a>  
    </nav>
   <div id="edit-container">
    <div class="container-fluid">
    <form action="/habits/<%=habit.id%>?_method=PUT" method="POST">
        <!-- method is POST because we are creating data  -->
        <div class="container-fluid" >
             <label class="form-label" for="habit">Habit:</label>
            <input class="form-control"  type ="text" name="habit" id ="habit" value="<%=habit.habit %>"/>
        </div>
        <div class="form-group">
            <label class="form-label" for="description">Description:</label>
            <input class="form-control" type ="text" name="description"  id ="description" value="<%=habit.description%>"/>
        </div>
        <div class="form-group">
             <label class="form-label"for="goal">Goal</label>
             <input class="form-control" type ="text" name="goal"  id ="goal" value="<%=habit.goal%>"/>
        </div>
         <input type="submit" name='submit' value="Submit Changes">
     </div>
    </div>
</body>
</html>