<!DOCTYPE html>
<html lang="en" id="index-html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">  
    <title>Home</title>
    <!-- bootstrap cdn for css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body class="d-flex flex-column min-vh-100">
  <!-- footer We’re making it flex, with the content in columns, from top to bottom, and with a minimum height of 100vh, which means that the element will be equal to 100% of the viewport’s height. -->
<div>
<nav class="navbar navbar-light bg-light">

  <a href ='users/register'> Register </a> |
  <a href ='users/signin'> Sign-In </a>
  <a class="navbar-brand" href="#">
    <img class="logo-image" src="https://i.imgur.com/5X5lg3A.png"  class="d-inline-block align-top" alt="">
  </a>
   <a href="/habits/new">
        <img id="index-add-btn"src="https://i.imgur.com/FRg9QC3.png" alt="add a new plus sign image">
  </a>  
  <a href ='users/signout'> Sign-out </a>
</nav>
</div>
  <div id="list-div" class="text-center">
    <h1 id="list-h1">List of Habits</h1>
  </div>
    <div >
        <ul class="list-group list-group-flush">
            <% for(let i=0; i < allHabits.length; i++){ %>
              
                
               <div class="text-center">
               <li class="list-group-item">

                <h5>
                  <a id="habit-name" class="text-decoration-none" href="/habits/<%=allHabits[i].id%>"> <%=allHabits[i].habit%>   
                  </a>
                </h5>
                <h10>
                  <div id="edit">
                    <a  class="text-decoration-none" href="/habits/<%=allHabits[i].id%>/edit">
                      <img id="edit-btn"src="https://i.imgur.com/U0xnsRd.png" alt="Edit Button Image - Custom Icon @clipartmax.com">
                      </a>
                  </div>
                </h10>
               </li>
            </div>
            </div>
            <%  } %>
         </ul>
         <%- include('./partials/footer.ejs') %>