#show-html,#new-html{
    height:100%
}

#list-h1,#edit-container, #new-container, #show-container{
font-family: Arial, Helvetica, sans-serif;
}
#list-div{
    background-color: rgb(241, 205, 122);
}

#show-title-div{
    background-color:white;
}

#edit-title-div{
    background-color:rgba(214, 125, 212, 0.638);
}
 #edit-container, #new-container{
    width: 80vw;
    height: 25vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bbb,
                -1px -1px 10px #bbb,
                1px -1px 10px #bbb,
                -1px 1px 10px #bbb;
  }
  #new-container{
    background-color: rgb(241, 221, 185);
  }
  #edit-container{
    background-color: rgb(193, 187, 176);
  }
  #show-container{
  width: 50vw;
  height: 20vw;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(214, 235, 173);
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}

#show-body{
    background: linear-gradient(135deg, #d8fabf 10%, #623AA2 100%)
}

#habit-name{
    color:#623AA2
}

#new-bk-btn{
    width:50px;
    height: 50px  
}

#index-logo{
    width:170px;
     height:170px

}

#index-add-btn{
    width:65px;
     height:65px;
    margin-right: 95px
}
#edit-btn{
    width:30px;
     height:30px
}

#new-title-div{
    background-color: rgb(201, 233, 166);
}

#index-signout{
    margin-right: 50px;
}


#preview-cont{
    width:650px;
    height: 650px;
    margin-top: 250px;
    text-align: center;
    margin: auto
}

#jumbotron-div{
    text-align: center;
    margin-bottom: 200px;
}



